<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Profile</title>
<style>

p {
font-family: "Arial Black", Gadget, sans-serif;
color: black;
font-size: 18px
}

pre{
background-color:  #EBECE4; 
}

#errormessage {
font-face: verdana;
font-size: 14px;
color: red;
}

#pagetitle{
color:#fcac45
}

#title{
font-family:"Arial Black", Gadget, sans-serif;
color : black;
font-size : 26px
}

#name{
font-family:"Courier New", Courier, monospace;
color : black;
font-size : 14px
}

#content{
font-family:"Lucida Console", Monaco, monospace;
color : black;
font-size : 18px;
white-space: pre
}

#navbar{
    background-color: #fcac45;
    border-color: #F87431;
    margin-bottom: 0px;
    border-bottom-width: 5px;
    border-top-width: 0px;
    color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #000;  /*Sets the text hover color on navbar*/
}

#navbarbutton
{
    background-color: #fcac45;
}

li{
color:red;
}

#operationHolder {
	padding-top: 10px;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
<script src="http://angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.2.0.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body ng-app="BlogManagement" ng-controller="BlogController">
 <nav class="navbar navbar-default" id="navbar">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle" id="navbarbutton">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">ITT Blog</a>
        </div>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="http://localhost:10080/blog/Home.html">Home</a></li>
                <li><a ng-click="newArticle()">New Article</a></li>
                <li><a href="#" ng-hide="profile==1">Profile</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a ng-model="logintogglebutton" ng-click="loginValidation()">{{logintogglebutton}}</a></li>
            </ul>
        </div>
    </nav>
    
 <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Delete Article</h4>
				</div>
				<div class="modal-body">
					<p>Are you sure?</p>
				</div>
				<div class="modal-footer">
				    <button type="button" class="btn btn-danger btn-primary"  ng-click="deleteArticle()">Yes</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
				</div>
			</div>

		</div>
  </div>
  
<div class="row">
<div class="col-xs-2"></div>
<div class="col-xs-8">
<h2 align="center">Profile</h2>
<div ng-repeat = "user in users">
<p >Name : {{user.name}}</p>
<p >UserName : {{user.username}}</p>
<span class="glyphicon glyphicon-envelope" aria-hidden="true">  {{user.emailid}}</span><br>
<span class="glyphicon glyphicon-tags" aria-hidden="true">  {{user.tags}}</span><br>
<br>
<button type="submit" class="btn btn-danger"  ng-click="disableUser()">Disable Account</button>
</div><hr><hr>

<h2 align="center">Articles</h2>
<table class="table table-hover">
<tr ng-repeat = "article in articles"> 
<td>
<a ng-click="called(article.aid)"><p id ="title"><p>{{article.title}}</p></a>
</td>
<td style="padding-right:10px">
<p> <span class="glyphicon glyphicon-thumbs-up">{{article.upvote}}</span>  
<span class="glyphicon glyphicon-thumbs-down">{{article.downvote}}</span></p>
</td>
<td style="padding-right:10px">
<button type="submit" class="btn btn-primary btn-block"  ng-click="updateArticle(article.aid)">Update</button></td><td>
<button type="submit" class="btn btn-danger btn-block" data-toggle="modal" ng-click = "deleteArticleModal(article.aid)" data-target="#myModal">Delete</button>
</td></tr>
</table>
</div>
<div class="col-xs-1"></div>
</div>
<script type="text/javascript">
	var app = angular.module("BlogManagement", []);

	//Controller Part
	app.controller("BlogController", 
	    				function($scope,$location,$http) {
		
						window.onbeforeunload = function() {
							_refreshUserData();
							_sessionValidation();
							_refreshArticleData();
						}
			
						$scope.called = function(aid)
	                    {
	                    	 location.href="http://localhost:10080/blog/Blog.html#?aid="+aid;
	                    }
			
						_refreshUserData(); 
						function _refreshUserData() {
							var aid = $location.search().aid;
					     	$http({
								method : 'GET',
								url : '/blog/rest/users/profile'
							}).then(function successCallback(response) {
								$scope.users = response.data;
							}, function errorCallback(response) {
							});
						}

						_refreshArticleData();
						function _refreshArticleData() {
					     	$http({
								method : 'GET',
								url : '/blog/rest/articles/user/specific'
							}).then(function successCallback(response) {
								$scope.articles = response.data;

							}, function errorCallback(response) {
							});
						}
						
						$scope.profile = 1;
						$scope.loginValidation = function(){
								$http({
									method : 'GET',
									url : '/blog/rest/validation/session'
								}).then(function successCallback(response) {
									if(response.data==true)
										{
										$http({
											method : 'GET',
											url : '/blog/rest/validation/logout'
										}).then(function successCallback(response) {
      									location.href="http://localhost:10080/blog/Home.html";
										}, function errorCallback(response) {
										});			
										}
									else{
							 	  location.href="http://localhost:10080/blog/Login.html";
									}
								}, function errorCallback(response) {
								});
						}
						
						$scope.newArticle = function(){
							 $http({
			                        method : 'Get',
			                        url : '/blog/rest/validation/session'
			                    }).then(function successCallback(response) {
                                       if(response.data==true)
                                   	{
                              location.href="http://localhost:10080/blog/NewArticle.html";      	
                                   	}else{
                     		  location.href="http://localhost:10080/blog/Login.html";     		
                                   	}
			                    	$scope.articles = response.data;
			                    }, function errorCallback(response) {
			                        console.log(response.statusText);
			                    });		
						}
						
						$scope.AID = 0;
						
						$scope.deleteArticleModal = function(aid){
							$scope.AID = aid;
						}
						
						$scope.cancelArticleModal = function(){
							$scope.AID = 0;
						}
						
						$scope.deleteArticle = function()
						{
						    $http({
		                        method : 'Post',
		                        url : '/blog/rest/articles/delete',
		                    	data : {
		                         	aid:$scope.AID
		                            }
		                    }).then(function successCallback(response) {
                                   if(response.data==true)
                               	{
                                   location.href="http://localhost:10080/blog/Profile.html";
                               	}else{
                               		_refreshArticleData();
    								$scope.errormessage = "you are not logged in";
    								}
		                    	$scope.articles = response.data;
		                    }, function errorCallback(response) {
		                        console.log(response.statusText);
		                    });											
						}
						
						$scope.updateArticle = function(aid)
						{
						           location.href="http://localhost:10080/blog/BlogUpdate.html#?aid="+aid;
                        }
						
						$scope.newComment = function(comment)
						{ 
							var aid = $location.search().aid;
						    var comment  = comment;
						    $http({
		                        method : 'Post',
		                        url : '/blog/rest/comments/insert',
		                    	data : {
		                         	aid:aid,
		                         	comment:comment
		                            }
		                    }).then(function successCallback(response) {
                                   if(response.data==true)
                               	{
                                   location.href="http://localhost:10080/blog/Redirect.html#?aid="+aid;
                               	}else{
                               		_refreshArticleData();
    								$scope.errormessage = "you are not logged in";
    								}
			                    	$scope.articles = response.data;
		                    }, function errorCallback(response) {
			                        console.log(response.statusText);
		                    });
						}
					
						_sessionValidation();
						function _sessionValidation()
						{	 $http({
			                        method : 'Get',
			                        url : '/blog/rest/validation/session'
			                    }).then(function successCallback(response) {
                                     if(response.data==true)
                                 	{
                                    	 $scope.profile = 2;
        			           		     $scope.logintogglebutton = "Signout"
                                 	}else{
                      				      $scope.profile = 1;
                						  $scope.logintogglebutton = "Login/Signup" 
								location.href="http://localhost:10080/blog/Error.html";
                                 	}
			                    	$scope.articles = response.data;
			                    }, function errorCallback(response) {
			                    });
						}
						
						$scope.disableUser = function()
						{	 $http({
			                        method : 'Post',
			                        url : '/blog/rest/validation/disable/user'
			                    }).then(function successCallback(response) {
                                     if(response.data==true)
                                 	{
                  
                                    	 location.href="http://localhost:10080/blog/Home.html";
                                 	}
			                    }, function errorCallback(response) {
			                   location.href = "http://localhost:10080/blog/Error2.html"     
			                    });
						}
						
});
</script>
</body>
</html>